@model GerenciamentoClientes.Models.Cliente

@{
    ViewData["Title"] = "Deletar Cliente";
}


<div class="newContent">
    <h4>Deletar Cliente</h4>
    <hr />

    <h6 style="font-style:initial">Tem certeza que deseja deletar esse registro?</h6>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Nome)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.Email)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.DataNascimento)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt class="col-sm-2">
            <strong>@Html.DisplayNameFor(model => model.CEP)</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ClienteId" />

        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Deletar</button>
            <span> </span>
            <a asp-action="Index" class="btn btn-secondary">Inicio</a>
        </div>
    </form>
</div>
